@charset "utf-8";

/* cssリセット */

/*利用するタグによってこちらの内容は増やす*/

html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
    margin: 0;
    padding: 0;
    line-height: 1;
    /*デフォルトの文字色、font-familyを予め当てておく*/
    color: #000;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
        "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    /* 画像は本来読み込んだままで取り込まれるから調整する */
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}
/* ↑ここまでがCSSリセット */

ul {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    list-style: none;
    max-width: 960px;
    margin: 0 auto;
}

/* 左右20pxずつでjustify-content: center; */
ul li {
    padding: 0 20px;
    background: gray; /* ここはbackground-color でもOKなはず */
}

.wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 980px;
    margin: 0 auto;
}

/* divそれぞれに適用するCSS */
.wrap div {
    width: 30.6%;
    height: 300px;
    margin-bottom: 10px;
    background: red;
    color: #fff;
    text-align: center; /* 要素を左右の中央にする*/
    line-height: 300px; /* 高さ300px指定して、その中央に文字が来るようにした */
}

/* スマホ用の記述 */
@media screen and (max-width: 767px) {
    .wrap {
        display: block; /*縦並びに上書き*/
    }
    .wrap div {
        width: 100%;
        margin-bottom: 20px;
    }
}
